@import "bootstrap/scss/bootstrap";


.container{
  width: 850px;
  margin: 0 auto;
  padding-top: 0px;
}

.title{
  text-decoration: none;
}

.title:hover{
  text-decoration: underline;
}

.content{

}
